<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sven.cvms.project.cv.mapper.CurriculumVitaeMapper">
    
    <resultMap type="CurriculumVitae" id="CurriculumVitaeResult">
        <result property="id"    column="id"    />
        <result property="intervieweeId"    column="interviewee_id"    />
        <result property="name"    column="name"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCurriculumVitaeVo">
        select id, interviewee_id, name, file_name, file_path, create_by, create_time, update_by, update_time from curriculum_vitae
    </sql>

    <select id="selectCurriculumVitaeList" parameterType="CurriculumVitae" resultMap="CurriculumVitaeResult">
        <include refid="selectCurriculumVitaeVo"/>
        <where>  
            <if test="intervieweeId != null "> and interviewee_id = #{intervieweeId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
        </where>
    </select>
    
    <select id="selectCurriculumVitaeById" parameterType="Long" resultMap="CurriculumVitaeResult">
        <include refid="selectCurriculumVitaeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCurriculumVitae" parameterType="CurriculumVitae" useGeneratedKeys="true" keyProperty="id">
        insert into curriculum_vitae
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="intervieweeId != null">interviewee_id,</if>
            <if test="name != null">name,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="intervieweeId != null">#{intervieweeId},</if>
            <if test="name != null">#{name},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCurriculumVitae" parameterType="CurriculumVitae">
        update curriculum_vitae
        <trim prefix="SET" suffixOverrides=",">
            <if test="intervieweeId != null">interviewee_id = #{intervieweeId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCurriculumVitaeById" parameterType="Long">
        delete from curriculum_vitae where id = #{id}
    </delete>

    <delete id="deleteCurriculumVitaeByIds" parameterType="String">
        delete from curriculum_vitae where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>